<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header>
    <h2><a href="/">Backend Practice WebApp</a></h2>
    <nav>
      <a href="#">Log In</a>
    </nav>
  </header>


  <main>
    <h3>Hello this is the homepage</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ad, ex autem iusto ipsa necessitatibus quis,
      nesciunt consequuntur atque velit omnis consectetur, nostrum nam aperiam odit dolor voluptas magni. Eveniet.</p>
  </main>
  <footer>
    <small>&copy; 2025 Backend Practice WebApp</small>
  </footer>

</body>

</html>